@tailwind base;
@tailwind components;
@tailwind utilities;


.sath:focus-within input{
    border-color: #D14D72;
}

.sath:focus-within button{
    border-color: #D14D72;
    border-left-color: #FFABAB;
}